* {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 10px;
  background: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
}
